# Gradle
**/.gradle/
**/build/
**/out/
**/classes/

# Eclipse
**/*.launch

# Idea
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# vscode

**/.settings/
**/.vscode/
**/bin/
**/.classpath
**/.project

# Modding
.architectury-transformer/
*/run/